.content{
  display: flex;
  align-items: center;
  height: 90vh;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  width: 50%;
}

.weather-title {
  font-size: 36px; /* Increase font size for the title */
  text-align: center;
  margin-bottom: 10px; /* Add spacing below the title */
}

.spacing {
  height: 20px; /* Create spacing between title and other text */
}

ul>li{
  list-style-type: none;
}


.weather-card {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.weather-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.soil-details {
  display: flex;
  gap: 25px;
}

.weather_desc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather_desc img {
  width: 100px;
}

.weather_desc h3{
  text-transform: capitalize;
  font-size: 20px;
}

.weather-text ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.weather-text li {
  margin-bottom: 10px;
  font-size: 18px;
}

.weather-text li strong {
  font-weight: bold;
}

.aqi_info li{
  margin-left: 15px;
}