<!DOCTYPE html>
<html>
  <head>
    <title>Farming Expert</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      
      href="{{ url_for('static', filename='account.css') }}"
    />
  </head>
  <body>

    <div class="">
      <div class="navbarr">
        {% if current_user.is_authenticated %}

        <a href="{{ url_for('home') }}" class="{% if active_page == 'home' %}active{% endif %}">Home</a>
        <a href="{{ url_for('advisor') }}" class="{% if active_page == 'advisor' %}active{% endif %}">Advisor</a>
        <a href="{{ url_for('weatherandsoil') }}" class="{% if active_page == 'weatherandsoil' %}active{% endif %}">Weather&Soil</a>
        <a href="{{ url_for('farminginfo') }}" class="{% if active_page == 'farminginfo' %}active{% endif %}">Grow</a>
        <a href="{{ url_for('viewposts') }}" class="{% if active_page == 'viewposts' %}active{% endif %}">Community</a>

        <a href="{{ url_for('about') }}" class="{% if active_page == 'about' %}active{% endif %}">About</a>
        <a href="{{ url_for('store') }}" class="{% if active_page == 'store' %}active{% endif %}">Store</a>
        <a href="{{ url_for('addproduct') }}" class="{% if active_page == 'addproduct' %}active{% endif %}">Sell</a>
        <a href="{{ url_for('cart') }}">Cart({{ items }})</a>
        <a href="{{ url_for('home') }}">Contact</a>

        <div class="dropdownn2">
          <button class="dropbtnn">Profile</button>
          <div class="dropdownn-contentt">
            <a href="{{ url_for('account') }}">Account</a>
            <a href="{{ url_for('account') }}">Settings</a>
            <a href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>

        <script src="{{ url_for('static', filename='script2.js') }}"></script>
        {% else %}
        <a href="{{ url_for('home') }}" class="{% if active_page == 'home' %}active{% endif %}">Home</a>
        <a href="{{ url_for('about') }}" class="{% if active_page == 'about' %}active{% endif %}">About</a>
        <a href="{{ url_for('home') }}" >Contact</a>

        <div class="dropdownn2">
          <button class="dropbtnn">Profile</button>
          <div class="dropdownn-contentt">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Sign-Up</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
{% include '_messages.html' %}
<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class=" loginbg">
            <h1 class="text-center">Add a product</h1>
            {% from "_formhelpers.html" import render_field %}
            <form action="" method="POST" enctype="multipart/form-data">
                {{ render_field(form.name, class="form-control", placeholder="Add product name") }}
                {{ render_field(form.price, class="form-control", placeholder="Add product price") }}
                {{ render_field(form.stock, class="form-control", placeholder="Add product stock") }}

                <label for="category">Add a category</label>
                <select name="category" id="category" class="form-control" required>
                    <option value=""> Select A Category </option>
                    {% for category in category %}
                    <option value="{{category.id}}"> {{category.category}}</option>
                    {% endfor %}
                </select>
                {{ render_field(form.description, class="form-control", placeholder="Add product detail", rows="10") }}

                <div class="container">
                    <div class="row">
                        <div class="col-md-4">{{ render_field(form.image_1, class="form-control") }}</div>
                        <div class="col-md-4">{{ render_field(form.image_2, class="form-control") }}</div>
                        <div class="col-md-4">{{ render_field(form.image_3, class="form-control") }}</div>
                    </div>
                </div><hr>

                <button type="submit" class="login-button">Add Product</button>


            </form>
        </div>
    </div>
        <div class="col-md-2"></div>
</div>
</div>

</body>
</html>

