{% extends 'navbar.html' %}
{% block nav %}
<link
      rel="stylesheet"
      type="text/css"
      
      href="{{ url_for('static', filename='css/account.css') }}"
    />
  <div class="container" id="scroll-target">
    <div class="text-center p-2 precision" style="color:black; font-size: 35px; font-weight: bold;">Cart</div>
    <div class="row">
      {% for item in cart %}
      <div class="col-md-3 mt-5">
        <div class="card">
          <img style="height: 12rem;" src="{{ url_for('static', filename='products_images/' + item.image_1)}}" alt="{{item.name}}"
            class="card-img-top" height="50">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
        <ul class="list-group">
          <li class="list-group-item">Quantity: {{ item.quantity }}</li>
          <li class="list-group-item">Price: {{ item.price * item.quantity }}</li>
        </ul>
          </div>
          <div class="card-footer">
            <form id="remove_from_cart_form_{{ item.id }}" action="{{ url_for('remove_from_cart', product_id=item.id) }}" method="post">
              <button type="submit" class="btn btn-danger" form="remove_from_cart_form_{{ item.id }}">
                Remove
              </button>
              <a class="button1 btn" href="{{ url_for('single_page', id=item.id) }}">
            </form>
            Details
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="card text-center" style="width: 100%; border: 2px solid black; margin-top: 20px;">
    <div class="card-body">
      <h5 class="card-title">Total:</h5>
      <p class="card-text">KES {{final_total|round(2)}}</p>
      {% if cart != [] %}
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Clear Cart
      </button>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        Checkout
      </button>
      {% endif %}

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                This will clear all items in your cart!
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure?</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cancel
              </button>
              <a class="btn btn-danger" href="{{ url_for('clear_cart') }}">Clear Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Receipt
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('MpesaExpress') }}" method="POST" class="form-control">
              <div class="modal-body">
                <span>
                  <p>Your M-Pesa Number: </p>
                </span>
                <label class="sr-only" for="inlineFormInputGroupUsername2">Phone Number</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">+</div>
                  </div>
                  <input type="text" name="phone" class="form-control" id="inlineFormInputGroupUsername2"
                    value="{{phone}}" readonly>
                </div>
                {% for item in cart %}
                <div style="text-align: left;">
                  <p>Product: {{ item.name }}</p>
                  <p>SellerID: {{item.user_id}}</p>
                  <p>Quantity: {{ item.quantity }}</p>
                  <p>Tax/VAT: N/A</p>
                  <p>Price: KES {{item.price*item.quantity}}</p>
                  <hr>
                  <p>Total Amount: KES {{ final_total|round(2) }}</p>
                </div>
                {% endfor %}
              </div>
              <h1>{{ amount }}</h1>
              <div class="modal-footer">
                  <button class="btn btn-success" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="scroll-target">

    {% endblock nav %}