{% extends "layout.html" %}
{% block content %}


<div class="container-fluid">
    <h1 class="mt-5">MAKE THE WORLD A BETTER PLACE!</h1>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-12 mb-4">
            <div class="content-section " >
                <form method="POST" action="">
                    <fieldset class="form-group">
                        <div class="form-group">
                            <div class="form-group">
                                <button class="button1" type="submit">Submit</button><br><br>
                            </div>
                            <div>
                                <h2 class="mt-5">Response</h2>
                                <textarea id="response" name="assistant_response" rows="10" style="width: 80%;" readonly>{{ assistant_response }}</textarea><br>
                                <img src="data:image/png;base64,{{ image_data }}" alt="Generated Image">
                                <img src="data:image/png;base64,{{ image2_data }}" alt="Generated Image"> <br>
                                <img src="data:image/png;base64,{{ image3_data }}" alt="Generated Image">
                                <img src="data:image/png;base64,{{ image4_data }}" alt="Generated Image">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div> 

<script>
    const form = document.querySelector('form');
    const chatBox = document.getElementById('response');
</script>
</section>
{% endblock content %}
