{% extends "layout.html" %} {% block content %}
<div class="container-fluid">
  <h1 class="mt-5">Chat with a Farming Expert</h1>
  <div class="row mt-5 justify-content-center">
    <div class="col-md-12 mb-4">
      <div class="content-section">
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">
            Your Conversation with our Farming Expert
          </legend>
          <p><strong>You: </strong>{{ user_message }}</p>
          <p><strong>Farming Expert: </strong>{{ assistant_response }}</p>
          <form method="POST" action="{{ url_for('farmingexpert') }}">
            <div class="form-group">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="user_question"
                  placeholder="Ask a question"
                />
                <input
                  type="submit"
                  value="Submit"
                  class="btn btn-outline-info"
                /><br /><br />
              </div>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
