<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>AgriSense - {{ title }}</title>
    {% else %}
        <title>AgriSense</title>
    {% endif %}
</head>
<body>
    <div class="">
      <div class="navbarr">
        {% if current_user.is_authenticated %}
          <div class="dropdownn">
            
            <img class="dropbtnn" src="{{ url_for('static', filename='icons8-menu.svg') }}" style="width: 50px; height:50px;"\>
            <div class="dropdownn-contentt">
              <a class="" href="{{ url_for('advisor') }}">Advisor</a>
              <a class="" href="{{ url_for('agritrends') }}">Agritrends</a>
              <a class="" href="{{ url_for('blogpost') }}">Store</a>
              <a class="" href="{{ url_for('viewposts') }}">Community</a>
            </div>
          </div>
            
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('home') }}">Contact</a>

            <div class="dropdownn2">
              <button class="dropbtnn">Profile</button>
              <div class="dropdownn-contentt">
                <a class="" href="{{ url_for('account') }}">Account</a>
                <a class="" href="{{ url_for('blogpost') }}">Create Blog</a>
                <a class="" href="{{ url_for('account') }}">Settings</a>
                <a class="" href="{{ url_for('logout') }}">Logout</a>
              </div>
            </div>

            <div class="whatsapp-icon" onclick="showPopup()">
              <img src="{{ url_for('static', filename='pictures/icons8-whatsapp(normal).svg') }}" alt="WhatsApp">
          </div>
          
          <div class="popup" id="popup">
              <div class="popup-content">
                  <span class="close" onclick="closePopup()">&times;</span>
                  <h2>Scan to chat with AgriSense</h2>
                  <img class="qr-code"src="{{ url_for('static', filename='pictures/qr-code.png') }}" alt="QR Code">
              </div>
          </div>
          
          <script src="{{ url_for('static', filename='script2.js') }}"></script>
        {% else %}
          <a href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('about') }}">About</a>
          <a href="{{ url_for('home') }}">Contact</a>

          <div class="dropdownn2">
            <button class="dropbtnn">Profile</button>
            <div class="dropdownn-contentt">
              <a class="" href="{{ url_for('login') }}">Login</a>
              <a class="" href="{{ url_for('register') }}">Sign-Up</a>
            </div>
          </div>
        {% endif %}
</div>
    </div>
    <main role="" class="">
      <div class="">
        <div class="">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>


  


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>