{% extends "layout.html" %}
{% block content%}

  <section class="storesection">
    <div class="card-body">
        <div class="future2">Quality Crops</div>
        <div class="precision2">High Quality Yields</div>

        <div class="button-container">
        <button type="button" class="" style="margin-left: 49%; margin-top: 5%;" onclick="scrollToContainer()">Shop Now</button>
        <button type="button" class="" style="margin-left: 49%; margin-top:5%;">Sell now</button>
        <div>
    </div>
  </section>
  
    <div class="container" id="scroll-target">
        <div class="text-center bg-success p-2" style="color:black; font-size: 35px;">Products</div>
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 mt-5">
               <div class="card">
                <img src="{{ url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="50">
                  <div class="card-body">
                    <h5 class="text-center">{{product.name}}</h5>
                    <p class="text-center">Price Ksh{{product.price}}</p>
                  </div>
                  <div class="card-footer">
                      <a href="{{url_for('single_page', id=product.id)}}" class="float-left btn btn-sn btn-primary">details</a> <a href="/{{product.id}}/add_to_cart" class="float-right btn btn-sn btn-success">Add to cart</a>
                  </div>
               </div> 
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function scrollToContainer() {
          var container = document.getElementById("scroll-target");
          container.scrollIntoView({ behavior: 'smooth' });
        }
      </script>
    
{% endblock content %}