{% extends "layout.html" %}
{% block content%}

    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 mt-5">
               <div class="card">
                <img src="{{ url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="50">
                  <div class="card-body">
                    <h5 class="text-center">{{product.name}}</h5>
                    <p class="text-center">Price Ksh{{product.price}}</p>
                  </div>
                  <div class="card-footer">
                      <a href="{{url_for('single_page', id=product.id)}}" class="float-left btn btn-sn btn-primary">details</a> <a href="#" class="float-right btn btn-sn btn-warning">Add to cart</a>
                  </div>
               </div> 
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}