{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <h1 class="mt-5">Blog Posts</h1>

    <div class="row mt-5 justify-content-center">
        <div class="col-md-12 mb-4">
            <div class="content-section " >
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">What's on your mind?</legend>
                        
                        <div class="form-group">

                            <div class="form-group">
                                {{ form.title.label(class="form-control-label") }}
                                {{ form.title(class="form-control") }}
                            </div>
                            {{ form.content.label(class="form-control-label") }}
        
                            {% if form.content.errors %}
                                {{ form.content(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.content.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.content(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>   


<div class="container-fluid">
    <h1 class="mt-5">Community Posts</h1>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-12 mb-4">

            {% for content in blogpost %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profilepics/' + content.user.image_file) }}">
                <div class="media-body">
                    <div class="article-metadata">
                    <a class="mr-2" href="#">{{ content.user.username }}</a>
                    <small class="text-muted">{{ content.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <p class="article-content">{{ content.title }}</p>
                    <p class="article-content">{{ content.content }}</p>
                </div>
                </article>

            {% endfor %}

        </div>

    </div>
</div>    
{% endblock content %}