{% extends "layout.html" %} 
{% block content %}

<section class="main">
  <div class="main-body">
    <h1>Weather in {{ weather_data.name }}</h1>

    <div class="weather_card">
      <div class="weather_details">
        <div class="img">
          <img src="{{ url_for('static', filename='assets/sun.png') }}" alt="sun picture">
        </div>
        <div class="text">
          <span>
            <p>Temperature: {{ weather_data.main.temp }}&#8451; (Feels Like: {{ weather_data.main.feels_like }}&#8451;)</p>
            <p>Weather: {{ weather_data.weather[0].description }} <img src="http://openweathermap.org/img/w/{{ weather_data.weather[0].icon }}.png" alt="Weather Icon"></p>
            <p>Wind: {{ weather_data.wind.speed }} mps, Direction: {{ weather_data.wind.deg }}°</p>
            <p>Pressure: {{ weather_data.main.pressure }} hPa</p>
            <p>Humidity: {{ weather_data.main.humidity }}%</p>
            <p>Cloud Coverage: {{ weather_data.clouds.all }}%</p>
            <p>Visibility: {{ weather_data.visibility }} m</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content%}
